.data-review {
    margin: 20px;
}

.data-review h2, .data-review h3 {
    color: #004d40; /* blackish green */
}

.data-review button {
    background-color: #004d40; /* blackish green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.data-review button:hover {
    background-color: #00332d;
    transform: scale(1.05);
}

.data-review table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.data-review th, .data-review td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.data-review th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
}

.data-review pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    max-height: 300px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #fff;
    color: #004d40;
    border: 1px solid #004d40;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
    background-color: #004d40;
    color: white;
}

.pagination button.active {
    background-color: #004d40;
    color: white;
}
