.upload-container {
  margin: 20px 0; /* Add margin to separate from the header */
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container input {
  display: none; /* Hide the default file input */
}

.custom-file-upload {
  background-color: #004d40; /* Change to blackish-green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Add some space between the input and the button */
  display: inline-block;
}

.custom-file-upload:hover {
  background-color: #00332d;
}

.upload-container .upload-button {
  background-color: #004d40; /* Change to blackish-green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px; /* Add some space to the left of the button */
}

.upload-container .upload-button:hover {
  background-color: #00332d;
}

.file-count {
  margin-left: 10px; /* Add some space to the left of the file count */
  font-size: 16px;
  color: #333;
}
