.navbar {
    background-color: #004d40; /* Blackish green color */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #00332e; /* Slightly darker shade for the border */
    position: relative;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: 40px;
    border-radius: 50%; /* Make the logo round */
    margin-right: 15px;
    border: 2px solid #fff; /* Add a white border around the logo */
    object-fit: cover; /* Ensure the logo is properly contained within the round shape */
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.nav-button {
    background-color: white;
    color: #004d40; /* Match the navbar color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline from link */
    margin-left: 10px; /* Space between buttons */
}

.nav-button:hover {
    background-color: #e7e7e7;
}

.user-info {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.username {
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.user-info:after {
    content: "▼"; /* Downward caret */
    font-size: 12px;
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: white;
    color: #004d40;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 150px;
    text-align: left;
    padding: 10px;
    max-width: 200px;
    word-wrap: break-word;
}

.dropdown-item {
    display: block;
    background-color: transparent;
    border: none;
    color: #004d40;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #d6f5d6; /* Slightly lighter green */
    color: #00332e;
    font-weight: bold;
}

.nav-button.active {
    background-color: #00332e;
    color: white;
}

.dropdown-item:focus {
    outline: none;
    background-color: #d6f5d6;
    color: #00332e;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand h1 {
        font-size: 20px;
    }

    .dropdown-menu {
        right: 0;
        left: 0;
    }

    .dropdown-item {
        font-size: 16px;
    }
}
