.template-manager {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.template-manager h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #004d40; /* Change to blackish-green */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:hover,
.form-group textarea:hover {
  border-color: #004d40; /* Change to blackish-green */
  box-shadow: 0 0 5px rgba(0, 77, 64, 0.5);
}

.form-group textarea {
  height: 150px;
}

button {
  background-color: #004d40; /* Change to blackish-green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #00332d;
  transform: scale(1.05);
}

.select-template-group {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.select-template-group label {
  margin-right: 10px;
  font-weight: bold;
  color: #004d40; /* Change to blackish-green */
}
