/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333;
}

/* App Container */
.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* Header */
.header {
  background-color: #004d40; /* Blackish green */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header button {
  background-color: white;
  color: #004d40; /* Match the header */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.header button:hover {
  background-color: #e7e7e7;
  color: #004d40; /* Ensuring color consistency */
}

/* Flexbox Containers */
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-container > div {
  flex: 1;
  margin: 10px;
}

@media (max-width: 768px) {
  .flex-container {
      flex-direction: column;
  }
}

/* Form Group Styles */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:hover,
.form-group textarea:hover,
.form-group select:hover {
  border-color: #004d40;
  box-shadow: 0 0 5px rgba(0, 77, 64, 0.5);
}

.form-group textarea {
  height: 150px;
}

.form-group select {
  width: auto;
}

/* Button Styles */
button {
  background-color: #004d40; /* Blackish green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #00332d;
  transform: scale(1.05);
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group button {
  margin-right: 10px;
}

.button-group select {
  margin-left: 10px;
}

.output-format-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.output-format {
  display: flex;
  align-items: center;
}

.output-format label {
  margin-right: 0.5rem;
  font-weight: bold;
}

.output-format select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.output-format select:hover {
  border-color: #004d40;
  box-shadow: 0 0 5px rgba(0, 77, 64, 0.5);
}

.output-format button {
  margin-left: 1rem;
  background-color: #004d40; /* Blackish green */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

.output-format button:hover {
  background-color: #00332d;
  transform: scale(1.05);
}
